<div class="nav_bar">
	<ul>
		<li><a href="/bogs">Display All Bogs</a></li>
		<li><a href="/bogs/new">Submit A New Bog</a></li>

	</ul>
</div>

<div>
	Name: <%= @bog.name %> <br>
	Description: <%= @bog.description %>
</div>